# Runtime config for omnirobot Pi5 services.
# Installed by install/install-services.sh to /etc/omni-robot/omni.env if that file does not exist.

OMNI_HOME=/home/noob/omni-pi
OMNI_USER=noob
ROS_DISTRO=jazzy

ROBOT_PLATFORM=omni4
OMNI_PLATFORM_CONFIG=${OMNI_HOME}/config/platforms/omni4.json

CAN_IFACE=can0
CAN_BITRATE=500000

TELEOP_HOST=0.0.0.0
TELEOP_PORT=8080

OMNI_FETCH_ROS_DEPS=1
OMNI_ENABLE_LIDAR=1
OMNI_ROS_REPOS_FILE=${OMNI_HOME}/src/ros2_ws/omni.repos
OMNI_ODOM_PARAMS=${OMNI_HOME}/src/ros2_ws/src/omni_bridge/config/omni_bridge.params.yaml

LIDAR_MODEL=rplidar_c1
LIDAR_SERIAL_PORT=/dev/rplidar
LIDAR_FALLBACK_SERIAL_PORT=/dev/ttyUSB0
LIDAR_SERIAL_BAUDRATE=460800
LIDAR_FRAME_ID=laser
LIDAR_WAIT_TIMEOUT_SEC=20
LIDAR_SCAN_MODE=Standard
LIDAR_INVERTED=false
LIDAR_ANGLE_COMPENSATE=true
# Optional. install/install-udev-rules.sh auto-fills this on a robot when the LIDAR is connected.
LIDAR_USB_SERIAL_SHORT=
